@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-main-fs font-urbanist selection:bg-secondary selection:text-primary;
  }

  h1 {
    @apply text-headline;
  }
  h2 {
    @apply text-subheadline;
  }
  h3 {
    @apply text-caption;
  }
}

:root {
  --special-fs: clamp(5rem, 14vw + 1rem, 14rem);
  --special-sub-fs: clamp(3.75rem, 8vw + 1rem, 8rem);
}

@media (width < 420px) {
  :root {
    --special-fs: clamp(4rem, 7vw + 1rem, 14rem);
    --special-sub-fs: clamp(2.85rem, 8vw + 1rem, 8rem);
  }
}
